@model Employee

@{
	ViewData["Title"] = "Details of the employee";
}

<div class="row text">
	<div class="col-md-8 offset-2">
		<p>
			<h1>
				Details for @Model.lastName @Model.firstName
			</h1>
		</p>
		<div class="row">
			<div class="col-md-8 offset-2">
				
					

					<div class="form-group">
						<label asp-for="lastName" class="control-label"></label>
						<input asp-for="lastName" class="form-control" readonly/>
						<span asp-validation-for="lastName" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label asp-for="firstName" class="control-label"></label>
					<input asp-for="firstName" class="form-control" readonly />
						<span asp-validation-for="firstName" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label asp-for="Email" class="control-label"></label>
					<input asp-for="Email" class="form-control" readonly />
						<span asp-validation-for="Email" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label asp-for="Phone" class="control-label"></label>
					<input asp-for="Phone" class="form-control" readonly />
						<span asp-validation-for="Phone" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label asp-for="City" class="control-label"></label>
					<input asp-for="City" class="form-control" readonly />
						<span asp-validation-for="City" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label asp-for="employeePosition" class="control-label"></label>
					<input asp-for="employeePosition" class="form-control" readonly />
						<span asp-validation-for="employeePosition" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label asp-for="Salary" class="control-label"></label>
					<input asp-for="Salary" class="form-control" readonly />
						<span asp-validation-for="Salary" class="text-danger"></span>
					</div>

					<div class="form-group" style="margin-top: 20px">
						<a class="btn btn-outline-success float-right" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
						<a class="btn btnbtn-outline-secondary" asp-action="Index">Show all</a>
					</div>
				
			</div>
		</div>
	</div>
</div>

