@model Store

@{
	ViewData["Title"] = "Update store";
}

<div class="row text">
	<div class="col-md-8 offset-2">
		<p>
			<h1>
				Update Employee
			</h1>
		</p>
		<div class="row">
			<div class="col-md-8 offset-2">
				<form asp-action="Edit">
					<div asp-validation-summary="ModelOnly" class="text-danger"></div>

					<div class="form-group">
						<label asp-for="storeName" class="control-label"></label>
						<input asp-for="storeName" class="form-control" />
						<span asp-validation-for="storeName" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label asp-for="Location" class="control-label"></label>
						<input asp-for="Location" class="form-control" />
						<span asp-validation-for="Location" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label asp-for="openHour" class="control-label"></label>
						<input asp-for="openHour" class="form-control" />
						<span asp-validation-for="openHour" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label asp-for="closeHour" class="control-label"></label>
						<input asp-for="closeHour" class="form-control" />
						<span asp-validation-for="closeHour" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label asp-for="PictureURL" class="control-label"></label>
						<input asp-for="PictureURL" class="form-control" />
						<span asp-validation-for="PictureURL" class="text-danger"></span>
					</div>

					<div class="form-group" style="margin-top: 20px">
						<button type="submit" value="Update" class="btn btn-outline-success float-right">Update</button>
						<a class="btn btnbtn-outline-secondary" asp-action="Index">Show all</a>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

